.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue);
    color: var(--white);
  }
  
  .header a {
    color: var(--white);
  }
  
  .header input {
    font-family: 'Noto Serif', Georgia, serif;
    font-weight: 100;
    padding: 6px;
    border: none;
    font-size: large;
    border-radius: 15px;
  }