@import url(./AddMonsterButton.css);
@import url(./App.css);
@import url(./About.css);
@import url(./AddMonsterModal.css);
@import url(./Cards.css);
@import url(./GeneralStyles.css);
@import url(./Header.css);
@import url(./ModalBackdrop.css);
@import url(./Monster.css);
@import url(./MonsterEditorModal.css);
@import url(./MonsterDeleteModal.css);

:root {
    --purple: #4c5caf;
    --white: #ffffff;
    --blue: #4695b4;
    --parchment: radial-gradient(circle, rgb(255, 255, 255) 0%, rgba(199, 199, 199, 0.542) 63%, rgba(184, 139, 33, 0) 100%);
  }
  