@import url(./AddMonsterButton.css);
@import url(./App.css);
@import url(./About.css);
@import url(./AddMonsterModal.css);
@import url(./Cards.css);
@import url(./GeneralStyles.css);
@import url(./Header.css);
@import url(./ModalBackdrop.css);
@import url(./Monster.css);
@import url(./MonsterEditorModal.css);
@import url(./MonsterDeleteModal.css);

:root {
    --purple: #4c5caf;
    --white: #ffffff;
    --red: #b44646;
    --parchment: #8a4d0f;

  }
  