* {
  box-sizing: border-box;
}

body {
  font-family: 'TGRomanRegular';
   font-weight: normal;
   font-style: normal;
  line-height: 1;
}

h1 {
  font-weight: 400;
  margin-bottom: 4px;
}
h2 {
  font-family: 'Noto Serif', Georgia, serif;
  font-weight: 100;
  margin: 0;
  /* border-bottom-style: solid; */
  border-radius: 20%;
}

main {
  display: flex;
  justify-content: center;
}





.stats {
  text-align: center;
  list-style: none;
}
.ability-scores {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 100px;
  text-align: center;
  list-style: none; 
  padding: 0;
}
.stat {
  margin-inline: 1px;
  width: 100px;
  /* border-bottom: solid; */
}
.stat-proficient {
  margin-inline: 10px;
  display: flex;
  justify-content: end;
}
.stat-left {
  margin-inline: 10px;
  display: flex;
  justify-content: start;
}
.stat-center {
  padding-bottom: 30px;
  margin-inline: 10px;
  display: flex;
  justify-content: center;
}

.breakline {
  border-top: #993030;
  border-style: solid;
  border-radius: 50%;
}
.action {
text-align: left;
text-indent: 2rem;
}
.center-title {
  text-align: center;
  padding-top: 2rem;
}
.embeded-image {
  padding-top: 10px;
  max-width: 250px;
  max-height: 250px;
  mix-blend-mode: multiply;
  border-radius: 20%;
}

.monsterButtonMover {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
}

/* @media screen and (min-width: 800px){
  .details-container {
    width: 100%;
    align-items: center;
  }
  .ability-scores {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 500px){
  .ability-scores {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
} */

/* @media (prefers-color-scheme: dark) {
  body {
      background: rgb(40, 40, 40);
  }
  h1 {
    color: white;
  }
} */